{{#> mainLayout }}
<h1>User Profile</h1>
{{#if user}}
<h3 class="col">{{ user.username }}</h3>
<form action="/user/{{user.id}}/delete" method="post">
{{!-- <a href="/user/{{id}}" class="btn btn-primary">Edit</a> --}}
<button type="submit" class="col btn btn-danger"  
  {{#if readonly}}disabled{{else}}{{#if user.isActive}}enabled{{else}}disabled{{/if}}{{/if}}>
  Delete User
</button>
</form>
<div class="row">
  <form method="post">
    <fieldset {{#if readonly}}disabled{{else}}{{#if user.isActive}}enabled{{else}}disabled{{/if}}{{/if}}>
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <th>Username</td>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th>Status</td>
            <td>{{#if user.isActive}}Active{{else}}Deleted{{/if}}</td>
          </tr>
          <tr>
            <th>Roles</td>
            <td>
              {{#each user.roles}}
              <input type="checkbox" id={{key}} name="roles[]" {{#if hasRole}}checked{{/if}} value={{value}}>
              <label for={{key}}>{{value}}</label><br>
              {{/each}}
            </td>
          </tr>
          <tr>
            <td></td>
            <td><button type="submit" class="btn btn-primary">Save</button></td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
</div>
{{else}}
<div>
  User #{{ id }} not found
</div>
{{/if}}
{{/mainLayout}}
{{!-- <form method="post" id="editForm">
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th scope="col">Product#</th>
                <td style="width: 80%;"><input class="form-control" name="modelno" value="{{productDetail.modelno}}" />
                </td>
            </tr>
            <tr>
                <th scope="col">Product#2</th>
                <td><input class="form-control" name="model_no" value="{{productDetail.model_no}}" /></td>
            </tr>
            <tr>
                <th scope="col">Model Name</th>
                <td><input class="form-control" name="name" value="{{productDetail.name}}" /></td>
            </tr>
            <tr>
                <th scope="col">Series</th>
                <td><input class="form-control" name="series" value="{{productDetail.series}}" /></td>
            </tr>
            <tr>
                <th scope="col">Made In</th>
                <td><input class="form-control" name="made_in" value="{{productDetail.made_in}}" /></td>
            </tr>
            <tr>
                <th scope="col">Color</th>
                <td><input class="form-control" name="color" value="{{productDetail.color}}" /></td>
            </tr>
            <tr>
                <th scope="col">Color Option in Magento</th>
                <td>
                    <select id="colorOpt" class="form-select" name="magentolID">
                        <option value="">-- Magento not live(No photo) --</option>
                        {{#each detailColorOpt}}
                        <option value="{{this.magentoID}}" {{#if this.optionSelected}}selected{{/if}}>{{this.eng}}
                            {{this.cht}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="col">Retail Price(HKD)</th>
                <td><input class="form-control" name="price" value="{{productDetail.price}}" /></td>
            </tr>
            <tr>
                <th scope="col">Categories</th>
                <td>
                    {{#each categoryObj}}
                    <select class="form-select" name="{{@key}}" id="{{@key}}" onchange="getCategories(this)" required>
                        <option value>----</option>
                        {{#each this}}
                        <option value="{{this.id}}"{{#if this.selected}} selected{{/if}}>{{this.name}}</option>
                        {{/each}}
                    </select>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th scope="col">Attributes</th>
                <td>
                    {{#each detailAttributes}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="attributes{{this.id}}" name="attributes" value="{{this.id}}"
                            type="radio" {{#if this.selected}}checked{{/if}} />
                        <label class="form-check-label" for="attributes{{this.id}}">{{this.name}}</label>
                    </div>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th scope="col">Gender</th>
                <td>
                    <div>
                        {{#each detailGender}}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" id="gender{{this.id}}" name="gender" value="{{this.id}}"
                                type="radio" {{#if this.selected}}checked{{/if}} />
                            <label class="form-check-label" for="gender{{this.id}}">{{this.name}}</label>
                        </div>
                        {{/each}}
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="col">Type</th>
                <td>
                    {{#each detailType}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="type{{this.id}}" name="type" value="{{this.id}}"
                            type="checkbox" {{#if this.selected}}checked{{/if}} />
                        <label class="form-check-label" for="type{{this.id}}">{{this.name}}</label>
                    </div>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th scope="col">Show</th>
                <td>
                    {{#each detailShow}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="show{{this.id}}" name="show" value="{{this.id}}"
                            type="checkbox" {{#if this.selected}}checked{{/if}} />
                        <label class="form-check-label" for="show{{this.id}}">{{this.name}}</label>
                    </div>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th scope="col">Class</th>
                <td>
                    {{#each detailClass}}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" id="class{{this.id}}" name="class" value="{{this.id}}"
                            type="checkbox" {{#if this.selected}}checked{{/if}} />
                        <label class="form-check-label" for="class{{this.id}}">{{this.name}}</label>
                    </div>
                    {{/each}}
                </td>
            </tr>
            <tr>
                <th scope="col">Location</th>
                <td>
                    <div>
                        <select class="js-example-basic-multiple" multiple="multiple" id="location" name="location"
                            multiple="multiple" style="width: 100%;">
                            {{#each detailLocation}}
                            <option value="{{this.id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
                            {{/each}}
                        </select>
                    </div>
                </td>
            </tr>
            <tr>
                <th scope="col">Payment Gateway</th>
                <td>
                    <select id="payment_gateway" name="payment_gateway">
                        <option value="">- - -</option>
                        <option value="both" {{#if detailPayment.both}}selected{{/if}}>Both</option>
                        <option value="paypal" {{#if detailPayment.paypal}}selected{{/if}}>Paypal</option>
                        <option value="payvision" {{#if detailPayment.payvision}}selected{{/if}}>Payvision</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th scope="col">Release Date</th>
                <td><input type="date" value="{{productDetail.releasedate}}" name="releasedate" /> </td>
            </tr>
            <tr>
                <th scope="col">Sort Date</th>
                <td><input type="date" value="{{productDetail.sortdate}}" name="sortdate" /> </td>
            </tr>
            <tr>
                <th>Shopify Description</th>
                <td>
                    Show <input type="radio" name="showOption" value="show" {{#if (eq showShopifyDescription 1)}}checked{{/if}}/>
                    Not show <input type="radio" name="showOption" value="notShow" {{#if (eq showShopifyDescription 0)}}checked{{/if}}/>
                    <br>
                    Description : <br>
                    <textarea rows="4" cols="50" name="description" form="editForm">{{description}}</textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit" class="btn btn-primary">Submit</button></td>
            </tr>
        </tbody>
    </table>
</form> --}}